1112(undefined) may be useful with payload

Processing [packed-by-reference#5](https://codeberg.org/chrysn/packed-by-reference/issues/5), I noticed that `1112(undefined)` can cause problems:

* When an application compares unprocessable elements for identity, 1112(undefined) will show up as identical. (Granted, "don't do that, then")
* If an unpacker has two unpopulated entries in a single dict's keys, and thus produces two `1112(undefined)`, all of a sudden the dictionary has duplicate keys.

Interesting point, and I think this is already present in [Section 5.7 of RFC8949](https://www.rfc-editor.org/rfc/rfc8949#section-5.7) with the simple value `undefined` to report decoding problems. One more mitigation I could think of for both cases would be to never treat two `undefined` values as equal, but that clearly clashes with Section 5.6.1 of RFC8949  which states that "simple values are equal if they simply have the same value". Could this be an errata in RF8949?

But adding 1112(undefined) to Packed indeed adds to the problem, as the recipient of the unpacked CBOR might very well be a generic decoder, while already decoded RFC8949 CBOR would usually not be fed back to a decoder.

> But adding 1112(undefined) to Packed indeed adds to the problem, as the recipient of the unpacked CBOR might very well be a generic decoder, while already decoded RFC8949 CBOR would usually not be fed back to a decoder.

Can you elucidate?
